* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Muli', sans-serif;
}

h3 {
  color: gray;
  text-transform: uppercase;
  margin-bottom: 0.9rem;
}

img {
  width: 100px;
  height: 100px;
  /* make image rounded */
  border-radius: 50%;
}

/* set up the grid areas for the css grid */
header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

.container {
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #f2f2f2;
  /* make a grid from the container */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  grid-template-areas:
  'header'
  'main'
  'footer';
}

main {
  /* make a grid from the main container */
  width: 100%;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: minmax(100px, 1fr);
  grid-template-rows: minmax(100px, auto);
}


.load-page {
  /* center the text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
}

.employee-box {
  border: 2px solid rgb(126, 126, 126);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

.employee-info, .modal-info {
  margin-top: .5rem;
}

.employee-info .name,
.modal-info .name {
  font-weight: 700;
}


.employee-info .name, 
.modal-info .name,
.employee-info .place,
.modal-info .place
{
  text-transform: capitalize;
}


.employee-info .email,
.modal-info .email, 
.employee-info .place,
.modal-info .place {
  color: gray;
}

/* MODAL WINDOW */
.bg-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.fas {
  position: absolute;
  top: 8px;
  right: 11px;
  font-size: 1.5rem;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-content {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 6px 50px black;
  border-radius: 5px;
  background-color: #F6F6F6;
  padding: 2rem;
}


@media (min-width: 768px){
  main {
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  }
}


@media (min-width: 1024px){
  main {
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  }
}