* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Muli', sans-serif;
}

h3 {
  color: gray;
  text-transform: uppercase;
}

img {
  width: 100px;
  height: 100px;
  /* make image rounded */
  border-radius: 50%;
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }
.employee-box { grid-area: employee;}

.container {
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #f2f2f2;
  /* make a grid from the container */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  grid-template-areas:
  'header'
  'main'
  'footer';
}

@media (min-width: 768px){
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px, 100px;
    grid-template-areas: 
    'header header'
    'main main'
    'footer footer';
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .employee-box {
    width: 47%; 
  }
}

.load-page {
  /* center the text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
}

.employee-box {
  border: 2px solid rgb(126, 126, 126);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

.employee-info .name {

}